body {
    background: #ECFDF5;
    font-family: Karla;
    margin-left: 50px;
    margin-top: 100px;
    /* display: flex;
    justify-content: center;
    align-content: center; */
}

.heading{
    color: #2B283A;
    font-weight: 900;
    font-size: 20px;
}

#subheadline{
    font-weight: 200;
    color: #6B7280;
    font-size: 20px;
    line-height: 28px;
}


#random-password{
    color: #10B981;
}

button{
    margin-top: 30px;
    padding: 9px, 17px, 9px, 15px;
    border-radius: 6px;
    height: 40px;
    width: 200px;
    background: #10B981;
    color: #FFFFFF;
;
    border: none;
    border-radius: 6px;
    font-size: 16px;
}

.styleline{
    background: #D5D4D8;
    width: 450px;
    height: 1px; 
    margin: 40px 0;
}

.password-headSpace{
    display: flex;
}

.password{
    display: flex;
    justify-content: center;
    align-content: center;
    margin: 0px 15px;
    width: 200px;
    height: 40px;
    background: #273549;
    color: #5DEF92;
    text-align: center;
    border-radius: 6px;
    line-height: 40px; 
    font-size: 16px;
    font-weight: 500;
}



